<div style="overflow: hidden;"[style.width.px]='ratingWidth' [title] ='rating' >
    <div style='width:75px;'>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
    </div>
</div>
