<div class="container">
    <div class="row newReview justify-content-center">
        <div class="col text-center">
            <app-search-review [mediaType]='mediaType' (searchResult)="getSearch($event)"></app-search-review>
        </div>
    </div>
<div *ngFor="let review of reviewList" class="row review">
    <div class="col text-center">
        <div class="container">
            <div class="row heading">
                <div class="text-center col-2 pt-3">
                    <img *ngIf="review.mediaImage.includes('https'); else defaultImage" [src]="review.mediaImage" alt="reviewImage">
                    <ng-template #defaultImage>
                        <div *ngIf="review.mediaType.type === 'book'" class="fa fa-book fa-5x"></div>
                        <div *ngIf="review.mediaType.type === 'game'" class="fa fa-gamepad fa-5x"></div>
                        <div *ngIf="review.mediaType.type === 'movie'" class="fa fa-film fa-5x"></div>
                        <div *ngIf="review.mediaType.type === 'music'" class="fa fa-music fa-5x"></div>
                    </ng-template>
                </div>
                <div class="col-8">
                    <h2 class="row pt-3 pb-3">{{review.mediaTitle}}</h2>
                    <app-rating [rating]='review.rating'></app-rating>
                    <div class="row pt-3">{{review.mediaType.type}}</div>
                    <div class="row">{{review.user.username}}</div>
                    <div class="row">Reviewed {{review.postedDate| date:'medium'}}</div>
                </div>
                <div class="row description">
                    {{review.description}}
                </div>
            </div>
        </div>
    </div>
</div>
</div>
