@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Inline&family=Bungee+Shade&family=Ovo&family=Zen+Kurenaido&display=swap');

/*Bungee for logo (Bungee Shade for "MY", Bungee Inline for "MDB") and Ovo for the rest*/
/*    font-family: 'Bungee', cursive;

    font-family: 'Bungee Inline', cursive;

    font-family: 'Bungee Shade', cursive;

    font-family: 'Ovo', serif;

    font-family: 'Zen Kurenaido', sans-serif;*/

body{
    background-color: #495563;
    font-family: 'Ovo', serif;
}

.btn-dark {
    background-color: #56756C;
    border-radius: 100px;
    border-width: 0px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    margin: auto;
    white-space: nowrap;
    text-align: center;
}

.navbar-dark{
    background-color: #3C484D;
}

.unicode{
    font-family: 'Arial';
}

.magnifier{
    -webkit-transform: rotate(45deg); 
    -moz-transform: rotate(45deg); 
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.Logo1{
    color: white;
    font-family: 'Bungee Shade';
}

.Logo2{
    padding-right: 20px;
    font-family: 'Bungee Inline';
}

#title-header{
    color: white;
    text-align: center;
    font-size: 3em;
    margin-top: 69px;
    margin-bottom: 69px;
    font-family: 'Bungee Shade';
}

#title-span{
    font-family: 'Bungee Inline';
}

#login-header{
    color: white;
    padding: 10px;
}

#regRedirect{
    color: white;
    padding-top: 25px;
}

.review{
    color: white;
    height: 45vh;
    margin-top: 3vh;
    margin-bottom: 3vh;
    overflow: auto;
}

.description{
    overflow:auto;
    padding-top: 1vh;
    font-size: 1.2em;
}

.heading{
    padding-bottom: 1vh;
    border-top: 1px solid slategray;
}

img{
    width: 100%;
    height:auto;
}

.wasureru{
    margin-left: 20px;
}

.marg{
    margin-top: 15px;
    align-items: center;
}