.form-inline{
    display: flex;
    /* width: 50%; */
}

.heading{
    padding-bottom: 1vh;

}

.description{
    overflow:auto;
    padding-top: 1vh;
}

img{
    width: 100%;
    height:auto;
}

.newReview{
    margin: 5vh auto 5vh auto;
    width: 50%;
}

.fa{
    margin-top: 20%;
}