<div class="container">
    <div class="row newReview justify-content-center">
        <div class="col text-center">
            <ng-template #postReview let-modal>
                <div class="modal-header">
                    <h4 class="modal-title" id="modal-basic-title">New Review</h4>
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="reviewGroup">
                        <!--Copy and Paste the code from home html if making a "New Review" button but movies.service.ts AND movies.components.ts will probably also need some code from their Home versions-->
                    </form>


                </div>
            </ng-template>
            <!--New Review button goes here-->
        </div>
        
        <app-search-review [mediaType]='mediaType' (searchResult)="getSearch($event)"></app-search-review>

    </div>
    <div *ngFor="let review of reviewList" class="row review">
        <div class="col">
            <div class="container">
                <div class="row heading">
                    <div class="text-center col-2 pt-3">
                        <img *ngIf="review.mediaImage.includes('https'); else defaultImage" [src]="review.mediaImage"
                            alt="reviewImage">
                        <ng-template #defaultImage>
                            <div *ngIf="review.mediaType.type === 'book'" class="fa fa-book fa-5x"></div>
                            <div *ngIf="review.mediaType.type === 'game'" class="fa fa-gamepad fa-5x"></div>
                            <div *ngIf="review.mediaType.type === 'movie'" class="fa fa-film fa-5x"></div>
                            <div *ngIf="review.mediaType.type === 'music'" class="fa fa-music fa-5x"></div>
                        </ng-template>
                    </div>
                    <div class="col-8">
                        <h2 class="row pt-3 pb-3">{{review.mediaTitle}}</h2>
                        <app-rating [rating]='review.rating'></app-rating>
                        <div class="row pt-3">{{review.mediaType.type}}</div>
                        <div class="row">{{review.user.username}}</div>
                        <div class="row">Reviewed {{review.postedDate| date: 'medium'}}</div>
                    </div>
                </div>
                <div class="row description">
                    {{review.description}}
                </div>
            </div>
        </div>
    </div>
</div>