<div class="container">
    <div class="main-body">
    
          <!-- Breadcrumb -->
          <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
              
            </ol>
          </nav>
          <!-- /Breadcrumb -->
    
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img [src]="profilePic" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                      <h3>{{pageUsername}}</h3>

                      <!-- if on active user's page, hide this
                      <button type="button" [ngClass]="{'following' : isFollowing, 'notfollowing': !isFollowing}" (click)='toggleFollowUser()'>{{isFollowing ? 'Follow' : 'Following'}}</button>
                      -->
                      <!-- folowers ? -->
                    </div>
                  </div>
                </div>
                <!-- <p> Under the follow button </p>-->
              </div>
              <!-- <p> Under the profile </p>-->
            </div>

            <div class="col-md-8 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column">
                      <h3>{{pageUsername}}'s Friends</h3>
                      <div *ngFor="let crazy of friendList" class="row friend">
                        <div class="col">
                            <div class="container">
                                <div class="row align-items-start">
                                  <div class="col">
                                    <div>
                                      <!-- <img class="mysmallerimages" [src]="getProfilePicture(crazy.friend.username)" alt="friendImage">  -->
                                    </div>
                                    <!-- <h2 style="color:black" class="row pt-3 pb-3">{{crazy.friend.username}}</h2> -->
                                    <a class="row align-items-center" href = "/user/{{crazy.friend.username}}">{{crazy.friend.username}}</a>
                                  </div>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <div class="col-md-4 mb-3">
                <div>
                    <div class="card-body">
                      <div class="d-flex flex-column align-items-center text-center">
                      </div>
                    </div>
                  </div>
              </div>
              <div class="col-md-8 mb-3">
                <div class="card">
                  <div class="card-body">
                        <!--<h1>This is where the reviews go by the people the current user follows display</h1> -->
                        <div *ngFor="let review of reviewList" class="row review">
                          <div class="col-md-2 mb-1">
                            <img *ngIf="review.mediaImage.includes('https'); else defaultImage" class="mysmallerimages" [src]="review.mediaImage" alt="reviewImage">
                            <ng-template #defaultImage>
                              <div *ngIf="review.mediaType.type === 'book'" class="fa fa-book fa-5x"></div>
                              <div *ngIf="review.mediaType.type === 'game'" class="fa fa-gamepad fa-5x"></div>
                              <div *ngIf="review.mediaType.type === 'movie'" class="fa fa-film fa-5x"></div>
                              <div *ngIf="review.mediaType.type === 'music'" class="fa fa-music fa-5x"></div>
                            </ng-template>
                          </div>
                          <div class="col">
                              <div class="container">
                                      <div class="col-md-8 mb-1">
                                          <h2 style="color:black" class="row pt-3 pb-3">{{review.mediaTitle}}</h2>
                                          <app-rating [rating]='review.rating'></app-rating>
                                          <div style="color:black" class="row pt-3">{{review.mediaType.type}}</div>
                                          <div style="color:black" class="row">{{review.user.username}}</div>
                                          <div style="color:black" class="row">Reviewed {{review.postedDate| date:'medium'}}</div>
                                      </div>
                                  <div style="color:black" class="row description">
                                      {{review.description}}
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                </div>
              </div>
      </div>
          <!--<p> Under everything </p> -->
    </div>