.following {
    background-color: rgb(80, 124, 245);
    border-radius: 8px;
    padding: 10px 34px;
}

.notfollowing {
    background-color: #a0cbe7;
    border-radius: 8px;
    padding: 10px 24px;
}

.mysmallerimages{

    position: relative; height: 150px; width: auto;
    overflow: hidden;
    text-align: center;  
    border: 3px solid black;  
    
}

.blacktext{
    color: rgb(17, 17, 17);
    text-shadow: rgb(15, 15, 15);
}
.active{
    font-weight: 700;
}

.fa{
    color:black;
    padding-left: 30%;
}
