<div id = "top-header">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <h3 class="Logo1">My<span class="Logo2">MDB</span></h3>
        <li class="nav-item">
          <a id = "home" class="nav-link" aria-current="page" routerLink = "/home">Home</a>
        </li>
        <li class="nav-item">
          <a id = "home" class="nav-link" href = "/user/{{currentUser.username}}">Profile</a>
        </li>
        <li class="nav-item">
          <a id = "movies" class="nav-link" routerLink = "/movies">Movies</a>
        </li>
        <li class="nav-item">
          <a id = "music" class="nav-link" routerLink = "/music">Music</a>
        </li>
        <li class="nav-item">
          <a id = "books" class="nav-link" routerLink = "/books">Books</a>
        </li>
        <li class="nav-item">
          <a id = "games" class="nav-link" routerLink = "/games">Games</a>
        </li>
      </ul>
    </div>
  </div>
  <div id = "loginInfo" *ngIf = "isVisible">
    <button id = "logoutButton" class = "btn btn-secondary" (click) = "logOutUser()" >Log Out</button>
  </div>
</nav>
</div>
<script>
  $('#topheader .navbar-nav a').on('click', function() {
      $('#topheader .navbar-nav').find('li.active').removeClass('active');
      $(this).parent('li').addClass('active');
  });
</script>
<!--    -->

<router-outlet></router-outlet>
