<h1 id = "registration-header">Please register below</h1>
<div class = "regContainer">
    <form id = "registrationForm" [formGroup] = "regGroup">
        <input class = "form-control" type = "text" formControlName = "userName" placeholder = "Enter a username"/>
        <input class = "form-control" type = "password" formControlName = "password" placeholder = "Enter a password"/>
        <input class = "form-control" type = "email" formControlName = "email" placeholder = "Enter your e-mail address"/>
        <button type = "submit" class = "btn btn-primary" (click) = "regUser(regGroup)">Register</button>
    </form>
</div>

<div id = "sucessMessage" *ngIf = "regSuccess">
    <p id = "regMessage">Registration successful</p>
    <a routerLink = "/login" class = "btn btn-dark">Back to Login</a>
</div>
<div id = "errorMessage"></div>