.regContainer {
    text-align: center;
    width: 30%;
    margin: auto auto;
}

.form-control {
    margin: 15px 15px;
    border-radius: 10px;
}

#registration-header {
    text-align: center;
    margin: auto auto;
}

#sucessMessage {
    margin-top: 20px;
    margin: auto auto;
    width: 30%;
    text-align: center;
    border: 2px solid white;
    color: white;
}

#errorMessage {
    text-align: center;
    margin-top: 20px;
    color: red;
}