#login-header, #regRedirect {
    text-align: center;
    margin: auto auto;
}

#loginContainer {
    text-align: center;
    width: 30%;
    margin: auto auto;
}

.form-control {
    margin: 15px 15px;
    border-radius: 10px;
}

#regRedirect {
    margin-top: 20px;
}

#errorMessage {
    color: red;
    font-size: 0.8rem;
}