<h1 id = "title-header">M<span id="title-span">y</span> M<span id="title-span">edia</span> D<span id="title-span">ata</span>B<span id="title-span">ase</span></h1>
<div id = "loginContainer">
    <h1 id = "login-header">Login below</h1>
    <form id = "loginForm" [formGroup] = "userGroup">
        <div id = "errorMessage"></div>
        <input type = "text" class = "form-control" formControlName = "userName" placeholder = "Enter your username">
        <input type = "password" class = "form-control" formControlName = "password" placeholder = "Enter your password">
        <button type = "submit" (click) = "loginUser(userGroup)" class="btn-dark">Login</button>
        <button (click) = "showModal(forgotPasswordModal)" class="btn-dark wasureru">Forgot Password</button>
    </form>
</div>
<div id = "regRedirect">
    <h3>OR</h3>
    <a routerLink = "/registration" class = "btn btn-dark">Click here to register</a>
</div>

<ng-template #forgotPasswordModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Forgot Password Menu</h4>
    </div>
    <div class="modal-body">
        <div class="container" *ngIf="showResetPasswordDiv">
            <div class="row">
                <div class="col">
                    <form [formGroup]="sendPasswordCodeForm">
                        <input type = "text" class = "form-control" formControlName = "email" placeholder = "Email of your account">
                        <button type = "submit" (click) = sendPasswordCode(sendPasswordCodeForm)>send password code</button>
                    </form>
                </div>
                <div class="col" [formGroup]="resetPasswordForm">
                    <input type = "text" class = "form-control" formControlName = "email" placeholder = "Email of your account">
                    <input type = "text" class = "form-control" formControlName = "newPassword" placeholder = "New password">
                    <input type = "text" class = "form-control" formControlName = "passwordCode" placeholder = "Received password code">
                    <button type = "submit" (click) = resetPasword(resetPasswordForm)>reset password</button>
                </div>
            </div>
        </div>
        <div class="container" *ngIf="showSentPasswordToEmail">
            <div class="row">
                <h1>If an email is associated with the given password, a password code to reset your password will be sent.</h1>
            </div>
        </div>
        <div class="container" *ngIf="showResetResult">
            <div class="row" *ngIf="failedResetResult">
                <h1>Failed to reset password</h1>
            </div>
            <div class="row" *ngIf="successResetResult">
                <h1>Successfully set password with the given password</h1>
            </div>
        </div>
    </div>
  </ng-template>