.form-inline{
    display: flex;
    /* width: 50%; */
}

.heading{
    padding-bottom: 1vh;
}

.newReview{
    margin: 5vh auto 5vh auto;
    width: 50%;
}

.fa{
    margin-top: 20%;
}

.mysmallerimages{

    position: relative; height: 100px; width: auto;
    overflow: hidden;
    text-align: center;
    border: 3px solid black;

}