<div class="container">
  <div class="row newReview justify-content-center">
    <div class="col text-center">
      <ng-template #postReview let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">New Review</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="reviewGroup">
            <div class="mb-3">
              <label class="form-label">Title</label>
              <input type="text" class="form-control" formControlName="mediaTitle" required>
            </div>
            <div class="mb-3">
              <label class="form-label">Media Type</label>
              <select class="form-control" formControlName="mediaType" required>
                <option>Book</option>
                <option>Movie</option>
                <option>Music</option>
                <option>Game</option>
              </select>
            </div>
            <div class="mb-3">
              <label class="form-label">Rating</label>
              <input type="number" min="1" max="5" step="0.1" class="form-control" formControlName="rating" required>
            </div>
            <div class="mb-3">
              <label class="form-label">Your Review</label>
              <textarea class="form-control" rows=10 formControlName="description" required></textarea>
            </div>
            <div class="mb-3">
              <input type="checkbox" class="form-check-input" id="exampleCheck1" formControlName="imagePicker" required>
              <label class="form-check-label" for="exampleCheck1">Pick an image?</label>
            </div>
            <button type="submit" class="btn btn-secondary" (click)="chooseImage(reviewGroup)">Submit</button>
          </form>
        </div>
      </ng-template>
      <button class="btn btn-dark marg" (click)="showModal(postReview)">New Review</button>
    </div>

    <div class="col text-center">
      <ng-template #searchReview let-modal>
        <form class="form-inline my-2 my-lg-0" [formGroup]="searchGroup">
          <input class="form-control mr-sm-4" type="search" placeholder="Search"
            aria-label="Search for review by title or username" formControlName="searchText">
          <button class="btn btn-outline-dark my-2 my-sm-0" type="submit" (click)="search(searchGroup)">Search</button>
        </form>
      </ng-template>
      <button class="btn btn-dark marg" (click)="showModal(searchReview)">Search Reviews</button>
    </div>

    <div class = "col text-center">
      <ng-template #submitPicture let-modal>
        <form class="form-inline my-2 my-lg-0" [formGroup]="profilePicture" enctype="multipart/form-data">
          <input (change)="readFile($event)"  type="file" accept="image/jpg" formControlName="ppFile">
          <button class ="btn btn-outline-dark my-2 my-sm-0" type="submit" (click)="submitImage(profilePicture)">Submit</button>
        </form>
      </ng-template>
      <button class="btn btn-dark marg" (click)="showModal(submitPicture)">Upload Profile Picture</button>
    </div>

    <div class="col text-center">
      <ng-template #searchFriend let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Search and Add Friend</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="userGroup">
            <input class="form-control mr-sm-2" type="search" placeholder="Search for your friend" aria-label="Search"
              [(ngModel)]="friendSearchText" [ngModelOptions]="{standalone: true}">
            <select multiple class="form-control" formControlName="username">
              <option *ngFor="let user of userList | filter: friendSearchText">{{user}}</option>
            </select>
            <button type="submit" class="btn btn-secondary" (click)="addFriend(userGroup)">Add</button>
          </form>
        </div>
      </ng-template>
      <button class="btn btn-dark marg" (click)="showModal(searchFriend)">Find Friend</button>
    </div>
  </div>

  <h5 class="row justify-content-center" *ngIf="noSearchFound"> No Reviews were found by the search: {{searchText}}</h5>
  <h5 class="row justify-content-center" *ngIf="noFriends"> You either dont have any friends or your friends have not
    posted a review yet! Nerd!!</h5>
  <div *ngFor="let review of reviewList" class="row review">
    <div class="col">
      <div class="container">
        <div class="row heading">
          <div class="text-center col-2 pt-3">
            <img *ngIf="review.mediaImage.includes('https'); else defaultImage" [src]="review.mediaImage"
              alt="reviewImage">
            <ng-template #defaultImage>
              <div *ngIf="review.mediaType.type === 'book'" class="fa fa-book fa-5x"></div>
              <div *ngIf="review.mediaType.type === 'game'" class="fa fa-gamepad fa-5x"></div>
              <div *ngIf="review.mediaType.type === 'movie'" class="fa fa-film fa-5x"></div>
              <div *ngIf="review.mediaType.type === 'music'" class="fa fa-music fa-5x"></div>
            </ng-template>
          </div>
          <div class="col-8">
            <!--<img class="mysmallerimages" [src]="getProfilePicture(review.user.userId)"> -->
            <h2 class="row pt-3 pb-3">{{review.mediaTitle}}</h2>
            <app-rating [rating]='review.rating'></app-rating>
            <div class="row pt-3">{{review.mediaType.type | uppercase}}</div>
            <div class="row">{{review.user.username | uppercase}}</div>
            <div class="row">Reviewed {{review.postedDate| date:'medium'}}</div>
          </div>
        </div>
        <div class="row description">
          {{review.description}}
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #chooseImageModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Choose an Image</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngFor="let media of mediaList" class="card" style="width: 18rem;">
      <img class="card-img-top" src={{media.image}} alt="mediaImage">
      <div class="card-body">
        <button type="submit" class="btn btn-secondary" (click)="submitReview(reviewGroup, media.image)">Choose</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #validInputModal let-modal>
  <div *ngIf="canPost" class="modal-body alert alert-success">Review Posted</div>
  <div *ngIf="!canPost" class="modal-body alert alert-danger">Please fill out all inputs to post a review
    <span
      *ngIf="reviewGroup.get('rating')?.errors && (reviewGroup.get('rating')?.hasError('min') || reviewGroup.get('rating')?.hasError('max'))"
      class="modal-body">
      Ratings must be between a number 1 to 5.
    </span>
  </div>
</ng-template>

<ng-template #addFriendModal let-modal>
  <div *ngIf="friendAdded" class="modal-body alert alert-success">Friend Added</div>
  <div *ngIf="notChosen;else else_content" class="modal-body alert alert-danger">Please select a user.</div>
</ng-template>
<ng-template #else_content>
  <div *ngIf="!friendAdded" class="modal-body alert alert-danger">This user no longer exists or is already your friend!
  </div>
</ng-template>