<div class="col text-center mt-3">
  <ng-template #searchReview let-modal>
    <form class="form-inline my-2 my-lg-0" [formGroup]="searchGroup">
      <input class="form-control mr-sm-4" type="search" placeholder="Search"
        aria-label="Search for review by title or username" formControlName="searchText">
      <button class="btn btn-outline-dark my-2 my-sm-0" type="submit" (click)="search(searchGroup)">Search</button>
    </form>
  </ng-template>
  <button class="btn btn-dark" (click)="showModal(searchReview)">Search Reviews</button>
</div>

<h5 class="row justify-content-center" *ngIf="noSearchFound"> No Reviews were found by the search: {{searchText}}</h5>